/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/s/dosis/v6/SHQzTQBI7152hSrIuGUiVBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/s/dosis/v6/7aJzV14HzAOiwNTiPgucGfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://fonts.gstatic.com/s/dosis/v6/RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://fonts.gstatic.com/s/dosis/v6/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    /*font-family: 'Dosis', 'sans-serif';*/
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.background {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}
.background img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    border: 0;
}
div.outer {
    width: 100%;
    height: 100%;
    padding: 0;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
div.middle {
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}
div.inner {
    width: 420px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
div.name {
    font-weight: 200;
    font-size: 3em;
    font-family: 'Dosis', 'sans-serif';
}
div.summary {
    font-weight: 200;
    font-size: 1.4em;
}
div.bio {
    font-size: 1.1em;
    margin: 30px auto;
}
div.line {
    margin: 30px auto;
    width: 75%;
    border-bottom: 1px dotted #DDDDDD;
}
div.icons {
    align-self: center;
    margin-top: 15%;
}
.button {
    width: 40px;
    height: 40px;
    opacity: 0.7;
}
a {
    text-decoration: none;
}
a:link {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
a:hover {
    color: #ffffff;
}
a:active {
    color: #ffffff;
}